
.vs/
*.user
*.suo
*.dbmdl
*.VC.db
*.opendb

bin/
obj/
Debug/
Release/
out/

node_modules/
packages/
wwwroot/lib/

*.exe
*.dll
*.pdb
*.log
*.cache
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

appsettings.Development.json
appsettings.Local.json
appsettings.json
secrets.json
.env